upstream diaspora {
    server unix:/var/run/diaspora/diaspora.sock fail_timeout=0;
}

server {
    listen [::]:80;
    listen 80;
    server_name _;
    return 301 https://{{ sitename }}$request_uri;
}

server {
    listen [::]:443 ssl spdy;
    listen 443 ssl spdy;
    server_name {{ sitename }};
    root {{ diaspora_root }};
    server_tokens off;

    # Configure maximum picture size
    # Note that Diaspora has a client side check set at 4M
    client_max_body_size 4M;

    ssl_certificate {{ ssl_cert }};
    ssl_certificate_key {{ ssl_cert_key }};
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;

    access_log  /var/log/nginx/diaspora_access.log;
    error_log   /var/log/nginx/diaspora_error.log;

    location / {
      # Proxy if requested file not found
      try_files $uri $uri/index.html $uri.html @diaspora;
    }

    location @diaspora {

      gzip off;
      proxy_set_header    X-Forwarded-Ssl     on;
      proxy_set_header    X-Real-IP           $remote_addr;
      proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
      proxy_set_header    X-Forwarded-Proto   https;
      proxy_set_header    Host                $http_host;
      proxy_set_header    X-Frame-Options     SAMEORIGIN;
      proxy_redirect      off;

      proxy_pass http://diaspora;
    }
}

