---
#
# defaults file for mariadb
# Note: don't use quotes around the password, because the mysql_user module
# will include them in the password but the mysql client will not
#
mysql_user_home: /root
mysql_root_username: root
mysql_root_password: thediasporaisinfinite

mysql_databases:
  - name: diaspora_production
    collation: utf8_general_ci
    encoding: utf8

mysql_users:
  - name: librenet
    host: localhost
    password: thediasporaisinfinite
    priv: "diaspora_production.*:ALL"
