<html>
<!--{{ ansible_managed }}-->

<title>librenet.gr Maintenance</title>

<style>
  body { text-align: center; background-image: url("http://axilleas.me/theme/images/bg_paper_fibers.png"); }
  @media (min-width: 768px){
    body{ background-image: url("http://axilleas.me/theme/images/bg_paper_fibers.png");}
  }
  h1 { font-size: 40px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<img src="http://www.unixstickers.com/image/data/stickers/diaspora/diaspora%20logo%20neg.png" alt="Diaspora" style="width:240px;">

<article>
    <h1>librenet.gr will be back soon</h1>
    </p>
    <div>
       Deploy in progress. Count to 1800 and we will be back.
    </div>
</article>
</p>
<img src="https://1.bp.blogspot.com/-gUkoiFsqSdc/TjDTGDDyv9I/AAAAAAAAA7E/FksF89-3wRg/s1600/the-big-lebowski-original.jpg" alt="MarkItZero" style="width:640px;">

</html>
