<html>
<!--{{ ansible_managed }}-->

<meta charset="UTF-8"/>

<title>librenet.gr Maintenance</title>

<style>
  body  {
    background-image: url("../deploy/bg.png");
    font: 20px Helvetica, sans-serif;
    color: #333;
    text-align: center;
  }
  @media (min-width: 768px){
    body  {
      background-image: url("../deploy/bg.png");
    }

  }

  img {
    width: 100%;
    }

  h1 {
    font-size: 40px;
    margin: 0 0;
  }

  article {
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }

  .dlogo img {
    width: 240px;
    text-align: center;
    }

</style>

<article>
<h1>Deploy in progress</h1>

<div class="dlogo">
  <img src="../deploy/diaspora_logo.png" alt="Diaspora">
</div>

  <div>
     Count to 1800 and we will be back.
  </div>
  </p>

  <img src="../deploy/the-big-lebowski-original.jpg" alt="MarkItZero">
</article>

</html>
