# {{ ansible_managed }}
module diaspora_prosody {{ selinux_prosody_version }};

require {
	type var_log_t;
	type postgresql_var_run_t;
	type fs_t;
	type unreserved_port_t;
	type postgresql_t;
	type prosody_t;
	class unix_stream_socket connectto;
	class capability { dac_read_search dac_override };
	class tcp_socket name_bind;
	class file { read open };
	class filesystem getattr;
	class sock_file write;
	class dir search;
}

#============= prosody_t ==============
allow prosody_t fs_t:filesystem getattr;

#!!!! This avc can be allowed using the boolean 'daemons_enable_cluster_mode'
allow prosody_t postgresql_t:unix_stream_socket connectto;
allow prosody_t postgresql_var_run_t:dir search;
allow prosody_t postgresql_var_run_t:sock_file write;
allow prosody_t self:capability { dac_read_search dac_override };

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow prosody_t unreserved_port_t:tcp_socket name_bind;
allow prosody_t var_log_t:file { read open };
